@using WebShop.Services.Interface;
@model WebShop.Models.ViewModel.ProductViewModel
@inject IProductService productService
@{
    var categorys = await productService.GetProductCategorysAsync();
    bool disabled = false;
    bool enabled = true;
}

<!-- Delete Product -->

<br />
<div class="container mt-5" align="center">
    <div class="login-form"><h2>Delete Product</h2></div>
</div>

<form method="post" asp-action="DeleteProduct">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <input asp-for="Title" type="text" disabled class="form-control mt-4" placeholder=" Title">
                </div>
                <div class="form-group">
                    <label asp-for="ProductCategoryId" class="control-label">&nbsp; &nbsp; Choose a category</label>
                    <select name="ProductCategoryId" disabled class="form-select" aria-label="Default select example">
                        @foreach (var item in categorys)
                        {
                            if (item.Id == Model.ProductCategory.Id)
                            {
                                <option selected value="@item.Id">@item.Title</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input asp-for="ShortDescription" type="text" disabled class="form-control mt-3" placeholder=" Short description">
                </div>
                <div class="form-group">
                    <textarea asp-for="Description" type="text" rows="7" disabled class="form-control mt-3" placeholder=" Description"></textarea>
                </div>
                <div class="form-group">
                    <input asp-for="Author" type="text" disabled class="form-control mt-3" placeholder=" Author">
                </div>
                <fieldset name="Available" @Model.Available>
                    <legend>
                        <label><input type=checkbox name="Available" value="@Model.Available" onchange="form.Available.disabled = !checked">Available</label>
                    </legend>
                    <div class="form-group">
                        <input asp-for="Quantity" type="text" disabled class="form-control mt-3" placeholder=" Quantity">
                    </div>
                    <div class="form-group">
                        <input asp-for="Price" type="text" disabled class="form-control mt-3" placeholder=" Price">
                    </div>
                    <fieldset name="Discount" @Model.Discount>
                        <legend>
                            <label><input type=checkbox name="Discount" value="@Model.Discount" onchange="form.discount.disabled = !checked">Discount</label>
                        </legend>
                        <div class="form-group">
                            <input asp-for="DiscountPrice" type="text" disabled class="form-control mt-3" placeholder=" Discount price">
                        </div>
                        <div class="form-group">
                            <input asp-for="StartDate" type="date" disabled class="form-control mt-3" placeholder=" StartDate">
                        </div>
                        <div class="form-group">
                            <input asp-for="EndDate" type="date" disabled class="form-control mt-3" placeholder=" EndDate">
                        </div>
                    </fieldset>
                </fieldset>
            </div>
            <div class="col-lg-4">
                <div class="contact-form">
                    <div class="form-group">
                        <input asp-for="Image" type="text" disabled class="form-control mt-4" placeholder=" Image">
                    </div>
                    <div class="form-group text-center">
                        <img id="ImagePreview" class="border-info rounded mt-4" style="max-width: 350px" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-form">
                    <div class="form-group">
                        <input asp-for="YearOfPublication" type="text" disabled class="form-control mt-4" placeholder=" Year of publication">
                    </div>
                    <div class="form-group">
                        <input asp-for="Publisher" type="text" disabled class="form-control mt-3" placeholder=" Publisher">
                    </div>
                    <div class="form-group">
                        <input asp-for="Isbn" type="text" disabled class="form-control mt-3" placeholder=" ISBN">
                    </div>
                    <div class="form-group">
                        <select asp-for="BookCategory" disabled class="form-control mt-3" asp-items="Html.GetEnumSelectList<BookCategory>()"></select>
                    </div>
                    <div class="form-group">
                        <select asp-for="BookBinding" disabled class="form-control mt-3" asp-items="Html.GetEnumSelectList<BookBinding>()"></select>
                    </div>
                    <div class="form-group">
                        <input asp-for="NumberOfPages" type="text" disabled class="form-control mt-3" placeholder=" Number of pages">
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input asp-for="Width" type="text" disabled class="form-control mt-3" placeholder=" Width">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input asp-for="Height" type="text" disabled class="form-control mt-3" placeholder=" Height">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input asp-for="Thickness" type="text" disabled class="form-control mt-3" placeholder=" Thickness">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input asp-for="Weight" type="text" disabled class="form-control mt-3" placeholder=" Weight">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" align="right">
        <button type="submit" class="mt-3 mb-5 primary-btn">Delete</button><a asp-controller="Admin" asp-action="ProductAdministration" class="mt-3 mb-5 secondary-btn">Back</a>
    </div>
</form>