@model WebShop.Models.ViewModel.ProductViewModel
@inject IProductService productService
@{
    ViewData["Title"] = "DetailsProduct";
    var euro = 7.53450m;
    Layout = "~/Views/Shared/_LayoutADMIN.cshtml";
    var productImages = await productService.GetProductImagesAsync();
}


<!-- Product Shop Section Begin -->
<section class="product-shop spad page-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-pic-zoom">
                            <img class="product-big-img img-fluid" src="@Model.Image" alt="Product Image">
                            <div class="zoom-icon">
                                <i class="fa fa-search-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-details">
                            <div class="pd-title">
                                <span>@Model.Author</span>
                                <h3>@Model.Title</h3>
                                <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                            </div>
                            <div class="pd-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                @*<i class="fa fa-star-o"></i>*@
                                @*<span>(5)</span>*@
                            </div>

                            <div class="pd-desc">
                                <hr />
                                <p>@Model.ShortDescription</p>
                                <hr />
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p align="left">Category: <b>@Model.ProductCategory.Title</b> @Model.BookCategory</p>
                                    <p align="left">Book Binding: <b>@Model.BookBinding</b></p>
                                    <p align="left">Still left: <b>@Model.Quantity</b></p>
                                </div>
                                <div>
                                    <div align="right">
                                        <a href="https://www.linkedin.com/in/kresimirwittenberg"><i class="ti-linkedin"></i></a>
                                        <a href="https://www.facebook.com/kresimirwittenberg"><i class="ti-facebook"></i></a>
                                        <a href="https://www.instagram.com/kresimirwittenberg/"><i class="ti-instagram"></i></a>
                                        <a href="https://github.com/KWittenberg"><i class="ti-github"></i></a>
                                        <a href="https://www.behance.net/kwittenberg"><i class="ti-behance"></i></a>
                                        <a href="https://twitter.com/WBolta"><i class="ti-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="pd-desc">
                                @if (Model.Discount == true)
                                {
                                    var priceEuroDiscount = @Model.DiscountPrice / euro;
                                    var priceEuro = @Model.Price / euro;
                                    <h3>@string.Format("{0:C}", Model.DiscountPrice)<span>@string.Format("{0:C}", Model.Price)</span>&nbsp; @priceEuroDiscount.ToString("0.00") € <span>@priceEuro.ToString("0.00") €</span></h3>
                                }
                                else
                                {
                                    var priceEuro = @Model.Price / euro;
                                    <h3>@string.Format("{0:C}", Model.Price)</h3>
                                }
                                <div class="mt-5 d-grid gap-2">
                                    <div class="btn btn-default btn-lg btn-flat"><a asp-controller="Admin" asp-action="ProductAdministration">Back</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-6 -->
                    <div class="col-xl-6">
                        <div class="mb-10px fs-10px mt-20px"><b class="text-dark">CARD GROUPS</b></div>
                        <!-- BEGIN card-group -->
                        <div class="card-group">
                            <!-- BEGIN card -->
                            @foreach (var product in Model.ProductImages)
                            {
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name" />
                                    <div class="card-img-overlay">
                                        <h5 class="card-title" align="right"><i class="bi bi-trash"></i></h5>
                                    </div>
                                </div>
                            }
                            <!-- END card -->
                        </div>
                        <!-- END card-group -->
                    </div>
                    <!-- END col-6 -->
                </div>
                <!-- BEGIN row -->
                <!-- BEGIN TabList -->
                <div class="mt-5">
                    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">

                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">DESCRIPTION</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">ADDITIONAL INFORMATION</button>
                        </li>
                    </ul>
                </div>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                        <br />
                        <br />
                        <h2 align="center">@Model.Title</h2>
                        <br />
                        <br />
                        @Model.Description
                        <br />
                        <br />
                    </div>
                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                        <br />
                        <br />
                        <div class="container-sm text-center" style="max-width: 500px;">
                            <table class="table">
                                <tbody>
                                    <tr><th scope="row">Category</th><td>@Model.BookCategory</td></tr>
                                    <tr><th scope="row">Binding</th><td>@Model.BookBinding</td></tr>
                                    <tr><th scope="row">Publisher</th><td>@Model.Publisher</td></tr>
                                    <tr><th scope="row">ISBN</th><td>@Model.Isbn</td></tr>
                                    <tr><th scope="row">Year Of Publication</th><td>@Model.YearOfPublication</td></tr>
                                    <tr><th scope="row">Number Of Pages</th><td>@Model.NumberOfPages</td></tr>
                                    <tr><th scope="row">Width</th><td>@Model.Width</td></tr>
                                    <tr><th scope="row">Height</th><td>@Model.Height</td></tr>
                                    <tr><th scope="row">Thickness</th><td>@Model.Thickness</td></tr>
                                    <tr><th scope="row">Weight</th><td>@Model.Weight</td></tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                    </div>
                </div>
                <!-- END TabList -->
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->