@using Microsoft.AspNetCore.Identity
@using WebShop.Models.Dbo
@using WebShop.Services.Interface
@model WebShop.Models.ViewModel.OrderViewModel
@inject UserManager<ApplicationUser> UserManager
@inject ICustomerService customerService
@{
    int counter = 1;
    var user = await UserManager.GetUserAsync(User);
    //var address = await customerService.GetAddress(user.Id);
    var address = await customerService.GetAddress(@Model.ShoppingCart.ApplicationUser.Id);

    decimal totalPrice = 0;
    decimal subTotalPrice = 0;
    decimal totalPriceWithVat = 0;
    string documentId = string.Empty;

    if (Model != null)
    {
        subTotalPrice = Model.ShoppingCart.GetSubTotalPrice();
        totalPrice = Model.ShoppingCart.GetTotalPrice();
        //totalPriceWithVat = Model.GetTotalPriceWithVAT();
        documentId = Model.Id + "-" + Model.Created.ToString("dd-MM-yyyy");
    }
}

<!-- BEGIN invoice -->

<div class="container mt-5">
    <div class="invoice">
        <!-- BEGIN invoice-company -->
        @*<div class="invoice-company">
        <span class="float-end hidden-print">
        <a href="javascript:;" class="btn btn-sm btn-white mb-10px"><i class="fa fa-file-pdf t-plus-1 text-danger fa-fw fa-lg"></i> Export as PDF</a>
        <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-white mb-10px"><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i> Print</a>
        </span>
        BoltaShop
        </div>*@
        <!-- END invoice-company -->

        <br />
        <br />

        <!-- BEGIN invoice-header -->
        <div class="row">
            <div class="col">
                <div class="col-md-7 offset-2">
                    <h3>Order: <b>@documentId</b></h3>
                </div>
            </div>
            <div class="col">
                <div class="col-md-7 offset-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                @if (Model.ShoppingCart.ApplicationUser.FirstName != null)
                                {
                                    @Model.ShoppingCart.ApplicationUser.FirstName
                                }
                                @if (Model.ShoppingCart.ApplicationUser.LastName != null)
                                {
                                    @Model.ShoppingCart.ApplicationUser.LastName
                                }
                            </h5>
                            <h4 class="card-text">@user.PhoneNumber</h4>
                            <hr />
                            <h5 class="card-text">
                                @if (address.Street != null)
                                {
                                    @address.Street
                                }
                            </h5>
                            <h5 class="card-text">
                                @if (address.PostCode != null)
                                {
                                    @address.PostCode
                                } @if (address.City != null)
                                {
                                    @address.City
                                }
                            </h5>
                            <h5 class="card-text">
                                @if (address.Country != null)
                                {
                                    @address.Country
                                }
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END invoice-header -->
        <!-- BEGIN invoice-content -->
        <br />
        <br />
        <div class="invoice-content">
            <!-- BEGIN table-responsive -->
            <div class="table-responsive">
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 3%" class="center">#</th>
                                <th style="width: 15%">Image</th>
                                <th style="width: 30%">Title</th>
                                <th class="center">Category</th>
                                <th style="width: 10%">Price</th>
                                <th style="width: 10%">Quantity</th>
                                <th style="width: 10%">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                            {
                                <tr>
                                    <td class="center">@counter</td>
                                    <td class="left"><img src="@item.Product.Image" width="100px"></td>
                                    <td class="left strong">@item.Product.Title</td>
                                    <td class="right">@item.Product.Title</td>
                                    <td class="right">@item.Price</td>
                                    <td class="center">@item.Quantity</td>
                                    <td class="right">@((item.Quantity * item.Price).ToString("c"))</td>
                                </tr>
                                counter++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END table-responsive -->
            <br />
            <br />
            <div class="row">
                <div class="col">
                    <div class="invoice-note">
                        <p><b>Paid </b> @Html.DisplayFor(model => model.Paid)</p>
                        <p>* If you have any questions concerning this order, contact us.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-10 offset-2">
                        <table class="table table-clear">
                            <tbody>
                                <tr>
                                    <td class="left"><strong>Subtotal</strong></td>
                                    <td align="right">@string.Format("{0:C}",subTotalPrice)</td>
                                </tr>
                                <tr>
                                    <td class="left"><strong>Shipping Croatia</strong></td>
                                    <td align="right">55,00 kn</td>
                                </tr>
                                <tr>
                                    <td class="left"><strong>Total</strong></td>
                                    <td align="right">
                                        <strong>@string.Format("{0:C}",totalPrice)</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- BEGIN invoice-footer -->
            <br />
            <br />
            <div class="invoice-footer mt-5">
                <p class="text-center mb-5px fw-bold">THANK YOU FOR YOUR PURCHASE</p>
                <hr />
                <p class="text-center">
                    <span class="me-10px"><i class="fa fa-fw fa-lg fa-globe"></i> boltashop.com</span>
                    <span class="me-10px"><i class="fa fa-fw fa-lg fa-phone-volume"></i> +385 98 870 888</span>
                    <span class="me-10px"><i class="fa fa-fw fa-lg fa-envelope"></i> kresimir.wittenberg@gmail.com</span>
                </p>
            </div>
            <!-- END invoice-footer -->
        </div>
    </div>
</div>
<br />
<br />
<!-- END invoice -->
@await Html.PartialAsync("_PrintItem", "Address")