@model IEnumerable<WebShop.Models.ViewModel.HeroViewModel>
@{
    ViewData["Title"] = "Hero";
    Layout = "_LayoutADMIN";
    int counter = 1;
}
<!-- Hero -->
<!-- BEGIN breadcrumb -->
<ol class="breadcrumb float-xl-end">
    <li class="breadcrumb-item"><a href="~/Admin/Dashboard">Home</a></li>
    <li class="breadcrumb-item active">Hero</li>
</ol>
<!-- BEGIN page-header -->
<h1 class="page-header">Hero @*<small>header small text goes here...</small>*@</h1>
<div class="mt-5 col-xl-12">
    <!-- BEGIN panel -->
    <div class="panel panel-inverse" data-sortable-id="table-basic-7">
        <div class="panel-heading">
            <h4 class="panel-title">Hero <span class="badge bg-success ms-5px">NEW</span></h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <!-- BEGIN panel-body -->
        <div class="panel-body">
            <!-- BEGIN table-responsive -->
            <div class="table-responsive">
                <table class="table table-hover mb-0 align-middle">
                    <thead>
                    <tr>
                        <th style="width: 5%">#</th>
                        <th style="width: 5%">Publish</th>
                        <th style="width: 20%">Image</th>
                        <th style="width: 20%">Title</th>
                        <th style ="width: 10%">Event Name</th>
                        <th style="width: 10%">Event Text</th>
                        <th style="width: 11%"><a asp-controller="Hero" asp-action="Create" class="btn btn-block btn-secondary btn-sm"><i class="bi bi-plus-circle"></i> &nbsp; Add New</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        string redirectUrlPrimary = Url.Action("ChangePublishStatus", "Hero", new { id = item.Id, status = !item.Publish });
                        <tr>
                            <td>@counter</td>
                            <td>
                                @if (item.Publish)
                                {
                                    <input type="checkbox" onclick="RedirectToUrl('@redirectUrlPrimary')" checked>
                                }
                                else
                                {
                                    <input type="checkbox" onclick="RedirectToUrl('@redirectUrlPrimary')">
                                }
                            </td>
                            <td><a href="@item.ImageUrl" class="popupImg"><img src="@item.ImageUrl" width="300" /></a></td>
                            <td>@item.Title</td>
                            <td>@item.EventName</td>
                            <td>@item.EventText</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a asp-controller="Hero" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-eye"></i></a>
                                    <a asp-controller="Hero" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-square"></i></a>
                                    <a asp-controller="Hero" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                        counter++;
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function RedirectToUrl(url) {
        console.log(url);
        window.location.href = url;
    }
</script>