@inject IProductService productService
@{
    var euro = 7.53450m;
    var carouselOffer = await productService.GetAvailableProductsAsync();
}
<!-- Carousel -->
<section class="mt-5 women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="filter-control">
                    <div class="section-title"><h2 style="color: darkgray">Best Offer</h2></div>
                </div>
                <div class="product-slider owl-carousel">
                    @foreach (var product in carouselOffer.OrderBy(x => Guid.NewGuid()))
                    {
                        <!-- OWL Carousel -->
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="@product.Image" alt="Product Image" />
                                @*<div class="percentage"><i class="fa-solid fa-percent"></i></div>*@

                                @if (product.Discount is true)
                                {
                                    <div class="sale">Sale</div>
                                }

                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active" data-bs-toggle="modal" data-bs-target="#Product-@product.Id"><a><i class="fa-solid fa-eye"></i></a></li>
                                    <li class="quick-view"><a href="@Url.Action("ItemView", "Shop", new { id = product.Id })"><i class="fa-solid fa-cart-plus"></i> Add To Cart</a></li>
                                    <li class="w-icon active"><a href="#"><i class="fa-solid fa-heart-circle-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">@product.Author</div>
                                <a href="@Url.Action("ItemView", "Shop", new { id = product.Id })"><h4 style="color: darkgray">@product.Title</h4></a>

                                @if (product.Discount == true)
                                {
                                    var priceEuroDiscount = @product.DiscountPrice / euro;
                                    var priceEuro = @product.Price / euro;
                                    <div class="product-price">@product.DiscountPrice Kn &nbsp;&nbsp;<span>@product.Price Kn</span></div>
                                    <div class="product-price-euro">@priceEuroDiscount.ToString("0.00") € &nbsp;&nbsp;<span>@priceEuro.ToString("0.00") €</span></div>
                                }
                                else
                                {
                                    var priceEuro = @product.Price / euro;
                                    <div class="product-price">@product.Price Kn</div>
                                    <div class="product-price-euro">@priceEuro.ToString("0.00") €</div>
                                }
                            </div>
                        </div>


                        <!-- START Modal -->
                        <div class="modal fade" id="Product-@product.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        @*<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>*@
                                        @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="product-pic-zoom">
                                                            <img class="product-big-img" src="@product.Image" alt="Product Image">
                                                            <div class="zoom-icon">
                                                                <i class="fa fa-search-plus"></i>
                                                            </div>
                                                        </div>
                                                        <div class="product-thumbs">
                                                            <div class="product-thumbs-track ps-slider owl-carousel">
                                                                @*@foreach (var item in Model.ProductImages)
                                                            {
                                                            <div class="pt active" data-imgbigurl="@item.ImageUrl">
                                                            <img src="@item.ImageUrl" alt="@item.Name">
                                                            </div>
                                                            }*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="product-details">
                                                            <div class="pd-title">
                                                                <span>@product.Author</span>
                                                                <h3>@product.Title</h3>
                                                                <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                                                            </div>
                                                            <div class="pd-rating">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                @*<i class="fa fa-star-o"></i>*@
                                                                @*<span>(5)</span>*@
                                                            </div>

                                                            <div class="pd-desc">
                                                                <hr />
                                                                <p>@product.ShortDescription</p>
                                                                <hr />
                                                            </div>
                                                            <div class="d-flex justify-content-between">
                                                                <div>
                                                                    <p align="left">Category: <b>@product.ProductCategory.Title</b> @product.BookCategory</p>
                                                                    <p align="left">Book Binding: <b>@product.BookBinding</b></p>
                                                                    @*<p align="left">Still left: <b>@item.Quantity</b></p>*@
                                                                </div>
                                                                <div>
                                                                    <div align="right">
                                                                        <a href="https://www.linkedin.com/in/kresimirwittenberg"><i class="ti-linkedin"></i></a>
                                                                        <a href="https://www.facebook.com/kresimirwittenberg"><i class="ti-facebook"></i></a>
                                                                        <a href="https://www.instagram.com/kresimirwittenberg/"><i class="ti-instagram"></i></a>
                                                                        <a href="https://github.com/KWittenberg"><i class="ti-github"></i></a>
                                                                        <a href="https://www.behance.net/kwittenberg"><i class="ti-behance"></i></a>
                                                                        <a href="https://twitter.com/WBolta"><i class="ti-twitter"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="pd-desc">
                                                                @if (product.Discount is true)
                                                                {
                                                                    var priceEuroDiscount = @product.DiscountPrice / euro;
                                                                    var priceEuro = @product.Price / euro;
                                                                    <h3>@string.Format("{0:C}", product.DiscountPrice)<span>@string.Format("{0:C}", product.Price)</span>&nbsp; @priceEuroDiscount.ToString("0.00") € <span>@priceEuro.ToString("0.00") €</span></h3>
                                                                    <input type="text" readonly hidden value="@product.DiscountPrice" name="Price">
                                                                }
                                                                else
                                                                {
                                                                    var priceEuro = @product.Price / euro;
                                                                    <h3 style="display: inline;">@string.Format("{0:C}", product.Price) &nbsp;</h3>
                                                                    <h4 style="display: inline;">@priceEuro.ToString("0.00") €</h4>
                                                                    <input type="text" readonly hidden value="@product.Price" name="Price">
                                                                }
                                                            </div>

                                                            @*<div class="mt-5 quantity">
                                                        <div class="pro-qty"><input name="Quantity" type="text" value="1" style="" hidden></div>
                                                        <input type="submit" value="Add to Cart" class="site-btn place-btn"><a asp-controller="Shop" asp-action="Index" class="secondary-btn">Back</a>
                                                        </div>*@

                                                            <a type="button" class="primary-btn" href="@Url.Action("ItemView", "Shop", new { id = product.Id })"><i class="fa-solid fa-cart-plus"></i> Add To Cart</a>
                                                            <button type="button" class="secondary-btn" data-bs-dismiss="modal">Close</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Modal -->
                    }
                </div>
            </div>
        </div>
    </div>
</section>



