@inject IProductService productService
@{
    var heroAll = await productService.GetHerosAsync();
    var hero = heroAll.Where(x => x.Publish == true);
    int counter = 1;
}

<!-- Hero section -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        @foreach (var item in hero.OrderBy(x => Guid.NewGuid()))
        {
            <div class="single-hero-items set-bg" data-setbg="@item.ImageUrl">
                <div class="container">
                    <div class="row">
                        <div class="@item.Align">
                            <span>@item.Subtitle</span>
                            @if (item.Title.Length >= 10)
                            {
                                <h2 style="color: @item.ColorTitle">@item.Title</h2>
                            }
                            else
                            {
                                <h1 style="color: @item.ColorTitle">@item.Title</h1>
                            }
                            <p style="color: @item.ColorDescription">@item.Description</p>
                            <a href="@item.ProductUrl" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    @if (@item.EventName != null)
                    {
                        <div class="off-card"><h2><b>@item.EventName</b><span>@item.EventText</span></h2></div>
                    }
                </div>
            </div>
        }
    </div>
</section>