@using WebShop.Services.Interface;
@*@model WebShop.Models.ViewModel.AddressViewModel*@
@model WebShop.Models.Dbo.Address
@inject ICustomerService customerService
@{
    ViewData["Title"] = "Details Address";
    var users = await customerService.GetApplicationUsers();
}

<br />
<br />
<!-- Details Address -->
<div class="container mt-5" align="center">
    <div class="card text-bg-light mb-3" style="max-width: 30rem;">
        <div class="card-header" align="left" style="background-color: #3A3F44">
            @Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName.ToUpper()<a type="button" class="btn-close float-end" asp-controller="User" asp-action="Index"></a>
        </div>
        <div class="card-body" style="background-color: #272B30">
            <h4 class="card-title" align="left">@Model.Street</h4>
            <h4 class="card-title" align="left">@Model.PostCode @Model.City</h4>
            <h4 class="card-title" align="left">@Model.Country</h4>
        </div>
        <div class="card-footer" align="right">@Model.Created.ToShortDateString()</div>
    </div>
</div>