@model WebShop.Models.ViewModel.ApplicationUserViewModel
@inject ICustomerService customerService
@inject IApplicationUserService userService
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "User";

    //var addresses = await customerService.GetAddresses(@Model.Id);
    int counter = 1;
}
<br />
<br />
<!-- Details User -->
<div class="container mt-5" align="center">
    <div class="card text-bg-light mb-3" style="max-width: 30rem;">
        <div class="card-header" align="left" style="color: #DFAD51; background-color: #3A3F44">
            <div class="row"><h4 class="col" align="left" style="color: #DFAD51">@Model.FirstName @Model.LastName.ToUpper()</h4><h5 class="col" align="right"><a type="button" class="btn-close float-end" asp-controller="Home" asp-action="Index"></a></h5></div>
        </div>
        <div class="card-body" style="background-color: #272B30">
            <h3 style="color:white">@Model.Role</h3>
            <h5 style="color:darkgrey">@Model.Id</h5>
            <hr />
            <div class="row"><h4 class="col" align="left">Phone</h4><h4 class="col" align="right">@Model.PhoneNumber</h4></div>
            <hr />
            <div class="row"><h5 class="col" align="left">Email</h5><h5 class="col" align="right">@Model.Email</h5></div>
            <hr />
            <div class="row"><h5 class="col" align="left">Date Of Birth</h5><h5 class="col" align="right">@Model.DOB</h5></div>
        </div>
        <div class="card-footer">
            <div class="row"><h5 class="col" align="left">Created</h5><h5 class="col" align="right">@Model.Created.ToShortDateString()</h5></div>
        </div>
    </div>
</div>


<div class="container" align="right">
    <a asp-controller="User" asp-action="EditUser" asp-route-id="@Model.Id" class="mt-3 mb-5 primary-btn">Edit User</a>
</div>


<!-- Address -->
<div class="container mt-5">
    <main role="main" class="pb-3">
        <h2 align="left">Addresses</h2>
        <div class="card-body mt-3 p-0">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 5%">#</th>
                        <th style="width: 20%">User</th>
                        <th>Primary</th>
                        <th>Street</th>
                        <th>City</th>
                        <th>PostCode</th>
                        <th>Country</th>
                        <th style="width: 11%"><a asp-controller="User" asp-action="Create" class="btn btn-block btn-secondary btn-sm"><i class="bi bi-plus-circle"></i> Add New</a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Address)
                    {
                        string redirectUrlPrimary = Url.Action("ChangePrimaryStatus", "User", new { id = item.Id, status = !item.Primary });
                        <tr>
                            <td>@counter</td>
                            <td>@item.ApplicationUser.FirstName @item.ApplicationUser.LastName</td>
                            <td>
                                @if (item.Primary)
                                {
                                    <input type="checkbox" onclick="RedirectToUrl('@redirectUrlPrimary')" checked>
                                }
                                else
                                {
                                    <input type="checkbox" onclick="RedirectToUrl('@redirectUrlPrimary')">
                                }
                            </td>
                            <td>@item.Street</td>
                            <td>@item.City</td>
                            <td>@item.PostCode</td>
                            <td>@item.Country</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a asp-controller="User" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-eye"></i></a>
                                    <a asp-controller="User" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-square"></i></a>
                                    <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                        counter++;
                    }
                </tbody>
            </table>
        </div>
    </main>
</div>

@await Html.PartialAsync("_CreateItem", "User")

<script>
    function RedirectToUrl(url) {
        console.log(url);
        window.location.href = url;
    }
</script>


@*@model IEnumerable<WebShop.Models.Dbo.Address>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "User";
    var user = await UserManager.GetUserAsync(User);
    int counter = 1;
}
<br />
<br />
<!-- User -->
<div class="container mt-5" align="center">
    <div class="card text-bg-light mb-3" style="max-width: 30rem;">
        <div class="card-header" align="left" style="color: #DFAD51; background-color: #3A3F44"><b>@user.FirstName @user.LastName</b></div>
        <div class="card-body" style="background-color: #272B30">
            <h5 class="card-title" align="left"><b>Id:</b> @user.Id</h5>
            <h4 class="card-title" align="left"><b>Phone:</b> @user.PhoneNumber</h4>
            <h5 class="card-title" align="left"><b>Email:</b> @user.Email</h5>
            <h5 class="card-title" align="left"><b>Date Of Birth:</b> @user.DOB</h5>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <div>@user.Created.ToShortDateString()</div>
                <div><a href="@Url.Action("EditUser", "User", new { id = user.Id })" class="btn btn-primary btn-sm">Edit</a></div>
            </div>
        </div>
    </div>
</div>

<!-- Address -->
<div class="container mt-5">
    <main role="main" class="pb-3">
        <h1>Address</h1>
        <div class="card-body mt-3 p-0">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 5%">#</th>
                        <th style="width: 20%">User</th>
                        <th>Street</th>
                        <th>City</th>
                        <th>PostCode</th>
                        <th>Country</th>
                        <th style="width: 11%"><a asp-controller="User" asp-action="Create" class="btn btn-block btn-secondary btn-sm"><i class="bi bi-plus-circle"></i> &nbsp; Add New</a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@counter</td>
                            <td>@item.ApplicationUser.FirstName @item.ApplicationUser.LastName</td>
                            <td>@item.Street</td>
                            <td>@item.City</td>
                            <td>@item.PostCode</td>
                            <td>@item.Country</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a asp-controller="User" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-eye"></i></a>
                                    <a asp-controller="User" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-square"></i></a>
                                    <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                        counter++;
                    }
                </tbody>
            </table>
        </div>
    </main>
</div>

@await Html.PartialAsync("_CreateItem", "User")*@