@model IEnumerable<WebShop.Models.Dbo.Address>
@{
    ViewData["Title"] = "Index";
    int counter = 1;
}
<!-- Address -->
<div class="container mt-5">
    <main role="main" class="pb-3">
        <h1>Address</h1>
        <div class="card-body mt-3 p-0">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 5%">#</th>
                        <th style="width: 20%">User</th>
                        <th>Primary</th>
                        <th>Street</th>
                        <th>City</th>
                        <th>PostCode</th>
                        <th>Country</th>
                        <th style="width: 11%"><a asp-controller="Address" asp-action="Create" class="btn btn-block btn-secondary btn-sm"><i class="bi bi-plus-circle"></i> &nbsp; Add New</a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string redirectUrlPrimary = Url.Action("ChangePrimaryStatus", "Address", new { id = item.Id, status = !item.Primary });
                        <tr>
                            <td>@counter</td>
                            <td>@item.ApplicationUser.FirstName @item.ApplicationUser.LastName</td>
                            <td>
                                @if (item.Primary)
                                {
                                    <input type="checkbox" onclick="RedirectToUrl('@redirectUrlPrimary')" checked>
                                }
                                else
                                {
                                    <input type="checkbox" onclick="RedirectToUrl('@redirectUrlPrimary')">
                                }
                            </td>
                            <td>@item.Street</td>
                            <td>@item.City</td>
                            <td>@item.PostCode</td>
                            <td>@item.Country</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a asp-controller="Address" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-eye"></i></a>
                                    <a asp-controller="Address" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-square"></i></a>
                                    <a asp-controller="Address" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                        counter++;
                    }
                </tbody>
            </table>
        </div>
    </main>
</div>

@await Html.PartialAsync("_CreateItem", "Address")

<script>
    function RedirectToUrl(url) {
        console.log(url);
        window.location.href = url;
    }
</script>