@model IEnumerable<WebShop.Models.Dbo.ProductCategory>
@{
    ViewData["Title"] = "Category";
    Layout = "_LayoutADMIN";
    int counter = 1;
}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<partial name="_NotificationPartial" />

    <!-- BEGIN breadcrumb -->
    <ol class="breadcrumb float-xl-end">
        <li class="breadcrumb-item"><a href="~/Admin/Dashboard">Home</a></li>
        @*<li class="breadcrumb-item"><a href="javascript:;">Category</a></li>*@
        <li class="breadcrumb-item active">Category</li>
    </ol>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h1 class="page-header">Category @*<small>header small text goes here...</small>*@</h1>
    <!-- END page-header -->
    <!-- BEGIN col-12 -->
    <div class="mt-5 col-xl-12">

        <!-- BEGIN panel -->
        <div class="panel panel-inverse" data-sortable-id="table-basic-7">
            <!-- BEGIN panel-heading -->
            <div class="panel-heading">
                <h4 class="panel-title">Category <span class="badge bg-success ms-5px">NEW LOOK</span></h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <!-- END panel-heading -->
            <!-- BEGIN panel-body -->
            <div class="panel-body">
                <!-- BEGIN table-responsive -->
                <div class="table-responsive">
                    <table class="table table-striped mb-0 align-middle">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th style="width: 10%"><a asp-controller="ProductCategories" asp-action="AddOrEdit" class="btn btn-block btn-secondary btn-sm"><i class="bi bi-plus-circle"></i> &nbsp; Add New</a></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@counter</td>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td nowrap>
                                    <div class="btn-group btn-group-sm">
                                        @*<a asp-controller="ProductCategories" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-eye"></i></a>*@
                                        <a asp-action="AddOrEdit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-square"></i></a>
                                        <form asp-action="Delete" asp-route-id="@item.Id"><button type="submit" class="btn btn-secondary btn-sm"><i class="bi bi-trash"></i></button></form>
                                        
                                        
                                    </div>
                                </td>
                            </tr>
                            counter++;
                        }
                    </tbody>
                </table>
            </div>
            <!-- END table-responsive -->
        </div>
        <!-- END panel-body -->
    </div>
    <!-- END panel -->
</div>


@*@await Html.PartialAsync("_CreateItem", "ProductCategories")*@



