@model WebShop.Models.ViewModel.ShoppingCartViewModel
@*@using Microsoft.AspNetCore.Identity
@using WebShop.Models.Dbo
@using WebShop.Services.Interface*@
@*@inject SignInManager<ApplicationUser> SignInManager*@
@inject UserManager<ApplicationUser> UserManager
@*@inject ICustomerService customerService*@
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var user = await UserManager.GetUserAsync(User);
    //var addresses = await customerService.GetAddresses(user.Id);
    //if (user.FirstName == null && user.LastName == null) { user.FirstName = "YOU MUST INPUT YOUR FistName AND LastName BEFORE BUYING !!!"; }

    decimal subTotalPrice = 0;
    decimal totalPrice = 0;
    string documentId = string.Empty;
    int counter = 1;
    int counterAddress = 1;

    if (Model != null)
    {
        subTotalPrice = Model.GetSubTotalPrice();
        totalPrice = Model.GetTotalPrice();
        documentId = Model.Id + "-" + Model.Created.ToString("dd-MM-yyyy");
    }
}

<div class="container">
    @if (Model != null)
    {
        string documentStatus = Model.ShoppingCartStatus.ToString();
        <!-- Shopping Cart -->
        <div class="container mt-5">
            <main role="main" class="pb-3">
                <h1 align="left">Shopping Cart</h1>
            </main>
        </div>
        <div class="mt-3 mb-5 card">
            <div class="card-header">
                <div class="row"><h5 class="col" align="left" style="color:white">@documentId - @user.FirstName @user.LastName</h5><h5 class="col" align="right">Status: <strong style="color: white"> @documentStatus</strong></h5></div>
            </div>
            <div class="card-body">
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 3%" align="center">#</th>
                                <th style="width: 10%">Image</th>
                                <th style="width: 25%">Title</th>
                                <th align="left">Category</th>
                                <th align="left">Price</th>
                                <th align="center">Quantity</th>
                                <th style="width: 10%">Total</th>
                                <th style="width: 3%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ShoppingCartItems)
                            {
                                <tr>
                                    <td align="center">@counter</td>
                                    <td align="left"><img src="@item.Product.Image" width="100px"></td>
                                    <td align="left">@item.Product.Title</td>
                                    <td align="left">@item.Product.ProductCategory.Title</td>
                                    <td align="left">@item.Price.ToString("c")</td>
                                    <td align="left">@item.Quantity</td>
                                    <td align="left">@((item.Quantity * item.Price).ToString("c"))</td>
                                    <td>
                                        <a asp-action="SuspendShoppingCartItem" asp-route-id="@item.Id" class="btn btn-secondary btn-sm"><i class="bi bi-trash"></i></a>
                                        @*@Html.ActionLink("X", "SuspendShoppingCartItem", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" })*@
                                    </td>
                                </tr>
                                counter++;
                            }
                        </tbody>
                    </table>
                </div>

                <!-- Adresses -->
                <div class="row">
                    <div class="col mt-3">
                        @if (Model.Option != "LocalPickup")
                        {
                            <h4 align="left">Shipping to:</h4>
                            <table class="mt-3 table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 5%">#</th>
                                        <th>Primary</th>
                                        <th>Street</th>
                                        <th>City</th>
                                        <th>PostCode</th>
                                        <th>Country</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ApplicationUser.Address)
                                    {
                                        string redirectUrlPrimary = Url.Action("ChangePrimaryStatus", "Address", new { id = item.Id, status = !item.Primary });
                                        <tr>
                                            <td>@counterAddress</td>
                                            <td>
                                                @if (item.Primary)
                                                {
                                                    <input type="checkbox" onclick="RedirectToUrl('@redirectUrlPrimary')" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" onclick="RedirectToUrl('@redirectUrlPrimary')">
                                                }
                                            </td>
                                            <td>@item.Street</td>
                                            <td>@item.City</td>
                                            <td>@item.PostCode</td>
                                            <td>@item.Country</td>
                                        </tr>
                                        counterAddress++;
                                    }
                                </tbody>
                            </table>

                            <!-- Estimate Arrival Date -->
                            <div class="card-footer text-muted">
                                Estimate Arrival Date: @DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString()
                            </div>
                        }
                        <hr />
                        <div class="offset-1">
                            <div>
                                <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</p>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked"> I have read and agree to the website terms and conditions *</label>
                            </div>
                        </div>
                    </div>

                    <!-- Shopping Cart -->
                    <div class="col">
                        <div class="col-md-10 offset-2">

                            @*<div class="offset-1">
                        <form method="post" id="myForm">
                        <input type="radio" name="Option" id="Option1" value="LocalPickup" checked="@(Model.Option == "LocalPickup")" />
                        <label for="Option1">Local Pickup</label><br />
                        <input type="radio" name="Option" id="Option2" value="ChashOnDelivery" checked="@(Model.Option == "ChashOnDelivery")" />
                        <label for="Option2">Chash On Delivery</label><br />
                        <input type="radio" name="Option" id="Option3" value="PayPal" checked="@(Model.Option == "PayPal")" />
                        <label for="Option3">PayPal</label>
                        </form>
                        </div>*@

                            <form id='f1'>
                                <div class="mt-3 btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="Option" id="Option1" onclick="Form()" value="LocalPickup" autocomplete="off" checked="@(Model.Option == "LocalPickup")">
                                    <label class="btn btn-outline-secondary btn-sm" for="Option1">Local Pickup</label>

                                    <input type="radio" class="btn-check" name="Option" id="Option2" onclick="Form()" value="ChashOnDelivery" autocomplete="off" checked="@(Model.Option == "ChashOnDelivery")">
                                    <label class="btn btn-outline-secondary btn-sm" for="Option2">Chash On Delivery</label>

                                    <input type="radio" class="btn-check" name="Option" id="Option3" onclick="Form()" value="PayPal" autocomplete="off" checked="@(Model.Option == "PayPal")">
                                    <label class="btn btn-outline-secondary btn-sm" for="Option3">PayPal</label>
                                </div>
                            </form>


                            <div class="col-md-4">

                                <div id='result' style="position: absolute;">
                                </div>
                            </div>






                            <table class="mt-4 table table-clear">
                                <tbody>
                                    <tr>
                                        <td class="left"><strong>Subtotal</strong></td>
                                        <td align="right">@string.Format("{0:C}",subTotalPrice)</td>
                                    </tr>

                                    @*@if (Model.Option == "LocalPickup")
                                {
                                <tr>
                                <td>Local pickup</td>
                                <td align="right">00,00 kn</td>
                                </tr>
                                }
                                @if (Model.Option == "ChashOnDelivery")
                                {
                                <tr>
                                <td class="left">Shipping Croatia</td>
                                <td align="right">55,00 kn</td>
                                </tr>
                                }
                                @if (Model.Option == "PayPal")
                                {
                                <tr>
                                <td class="left">Shipping Croatia</td>
                                <td align="right">55,00 kn</td>
                                </tr>
                                }*@

                                    <tr>
                                        <td><strong>Total</strong></td>
                                        <td align="right">
                                            <strong>@string.Format("{0:C}",totalPrice)</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="mt-5 mb-5" align="right">
                            @using (Html.BeginForm())
                            {
                                <input type="text" name="ShoppingCartId" value="@Model.Id" hidden>
                                <input type="submit" class="primary-btn" value="Buy Now">
                                <a asp-controller="Shop" asp-action="Index" class="secondary-btn">Continue Shopping</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <!-- Empty Shopping Cart -->
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form mt-5" align="center"><h2>Shopping Cart</h2></div>
                    <div class="select-items mt-5 mb-5" align="center">
                        <i class="fa-solid fa-cart-shopping fa-5x" style="color: #DFAD51"></i>
                        <h3 class="mt-5">Your shopping cart is empty !</h3>
                    </div>
                    <div align="right">
                        <a asp-controller="Shop" asp-action="Index" class="mt-3 mb-5 primary-btn">RETURN TO SHOP</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<partial name="_Footer" />


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            $("input:radio[name=Option]").click(function () {
                $("#result").css("background-color", "yellow"); // change the color of the background
                $('#result').html($(this).val());
            })

        })
    </script>
    @*<script type="text/javascript">
        function Form() {
            var selectvalue = $('input[name=Option]:checked', '#f1').val();
            if (selectvalue == "LocalPickup") {
        @Model.Option == selectvalue;
                return true;
            }
            else if (selectvalue == "ChashOnDelivery") {
        @Model.Option == selectvalue;
                return true;
            }
            else if (selectvalue == "PayPal") {
        @Model.Option == selectvalue;
                return true;
            }
            return false;
    </script>*@
    }